# Virtual environments
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyc

# Environment files
.env
.env.*

# Django / local db
*.sqlite3

# Logs
*.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Static build output
staticfiles/
media/